<div class="main-slidershow mb-5">
	<!-- <img src="assets/images/mockup/slider1.jpg" class="img-cover" alt=""> -->
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="assets/images/mockup/slider2.jpg" class="d-block img-cover" alt="...">
				<div class="carousel-caption container-fluid">
					<div>
						<span class="year">2019</span>
						<span class="year">8.5</span>
					</div>
					<h1>Joker</h1>
					<h3>The Genres</h3>
					<div class="main-genres">
						<a href="#"><i class="fal fa-dot-circle"></i> Crime</a>
						<a href="#"><i class="fal fa-dot-circle"></i> Thriller</a>
						<a href="#"><i class="fal fa-dot-circle"></i> Drama</a>
					</div>
					<a href="#" class="button button-primary mt-4">See Review</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/images/mockup/slider1.jpg" class="d-block img-cover" alt="...">
				<div class="carousel-caption container-fluid">
					<div>
						<span class="year">2019</span>
						<span class="year">8.5</span>
					</div>
					<h1>Inception</h1>
					<h3>The Genres</h3>
					<div class="main-genres">
						<a href="#"><i class="fal fa-dot-circle"></i> Crime</a>
						<a href="#"><i class="fal fa-dot-circle"></i> Thriller</a>
						<a href="#"><i class="fal fa-dot-circle"></i> Drama</a>
					</div>
					<a href="#" class="button button-primary mt-4">See Review</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/images/mockup/slider4.jpg" class="d-block img-cover" alt="...">
				<div class="carousel-caption container-fluid">
					<div>
						<span class="year">2019</span>
						<span class="year">8.5</span>
					</div>
					<h1>El Rey Leon</h1>
					<h3>The Genres</h3>
					<div class="main-genres">
						<a href="#"><i class="fal fa-dot-circle"></i> Crime</a>
						<a href="#"><i class="fal fa-dot-circle"></i> Thriller</a>
						<a href="#"><i class="fal fa-dot-circle"></i> Drama</a>
					</div>
					<a href="#" class="button button-primary mt-4">See Review</a>
				</div>
			</div>
			<!-- <img src="assets/images/scroll-arrow.svg" alt="scroll arrow"> -->
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			</ol>
		</div>
	</div>
		  
</div>